name: Autobuild Plugins

on:
  push:
    branches:
      - development
  workflow_dispatch:
    inputs:
      plugin:
        description: What plugin to build. Omit for all.
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Compile Plugins
    runs-on: ubuntu-latest

    steps:
      - name: Clean working directory
        run: rm -rf /home/runner/work/${{ github.repository }}

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
          
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup env
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GH_NPM_TOKEN }}" >> .npmrc
          echo '@betterdiscordbuilder:registry=https://npm.pkg.github.com' >> .npmrc

      - name: Install latest BDBuilder version
        run: |
          npm i -D @betterdiscordbuilder/bdbuilder@latest

      - name: Detect changed files
        id: files
        uses: jitterbit/get-changed-files@v1
        continue-on-error: true

      - name: Build plugins
        run: >-
          .github/workflows/run-bdbuilder
          "--trigger=${{ github.event_name }}"
          "--plugin=${{ github.event.inputs.plugin }}"
          ${{ steps.files.outputs.all }}

      - name: Stage build
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: .
          retention-days: 1

  publish:
    name: Publish plugins
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Restore repo
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Apply build
        uses: actions/download-artifact@v2
        with:
          name: build-artifact
          path: .

      - name: Commit
        run: |
          git config advice.addIgnoredFile false
          git add --no-all ./**
          git config --local user.email "actions@github.com"
          git config --local user.name "PluginBuilder"
          git commit -m "Publish build" || true

      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          branch: main
